@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply m-0 min-h-screen bg-gradient-to-br from-slate-800 via-slate-900 to-black font-sans text-slate-100 antialiased;
}

#root {
  @apply min-h-screen;
}
